{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AnyChart Example</title>
    <link rel="stylesheet" href="{% static 'BananaDash/styles.css' %}">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-bundle.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>


    

</head>
<body>
    <header>
        <img src="{% static 'BananaDash/bananapic.png' %}"></img>
        <h1>Welcome to Banana Bonanza!</h1>
    </header>
    <div id="container" style="width: 90%; height: 400px;">
        <script src="{% static 'BananaDash/stocks.js' %}"></script>
    </div>

    <main>
        
        </section>
        <section class="flex-container">
            <div>
                <h2>Latest Banana News</h2>
                <ul>
                    {% for story in news_stories %}
                    <li>
                        <a href="{{ story.url }}">{{ story.title }}</a> - {{ story.description }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2>Why Bananas Are Great</h2>
                <p>Bananas are full of vitamins and minerals, they're a great source of energy, and they can be used in a variety of recipes. Plus, they come in their own convenient packaging!</p>
                <button onclick="showBananaFact()">Show me a banana fact</button>
    
                <script src="{% static 'BananaDash/RandomBananafact.js' %}"></script>
                <div id="bananaFactDisplay" style="margin-top: 20px; font-size: 20px;"></div>
            </div>
        </section>
    </main>
    <footer>
        <p>© 2024 Banana Bonanza. All rights reserved.</p>
    </footer>
</body>
</html>