body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3a3a34; /* light banana color */
}

#container{
    margin: 10px auto;
    padding: 20px 20px;
    border-radius: 8px;
}

img {
    max-width: 15%;
    height: auto;
}
header {
    background-color: #fdd662; /* banana yellow */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1, h2 {
    font-family: 'Garamond', serif;
}

main {
    padding: 20px;
}

.banana-info, .banana-recipes {
    background-color: #ffeeba; /* light banana peel */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

li::before {
    content: '🍌';
    position: absolute;
    left: 0;
}

footer {
    background-color: #fdd662;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    background-color: #3a3a34;
  }

.flex-container > div {
    background-color: #fff;
    margin: 10px;
    padding: 40px;
    flex: 1; 
    font-size: 20px;
    border-radius: 15px;
  }